# Team F1 Data Wrangling Master

-Goals and Objectives:
1. Mold the Results csv into basic shape
2. Add in all required columns
3. address all N/A's
4. Save as a separate CSV
5. Enact test/train split

In [5]:
import numpy as np
import pandas as pd

%config InlineBackend.figure_format = 'retina'

## Molding the results.csv into basic shape

In [29]:
#results
results_url = 'https://raw.githubusercontent.com/georgetown-analytics/Formula1/main/data/results.csv'
results_df = pd.read_csv(results_url, sep = ',', engine = 'python')
results_df.head()

#status
status_url = 'https://raw.githubusercontent.com/georgetown-analytics/Formula1/main/data/status.csv'
status_df = pd.read_csv(status_url, sep = ',', engine = 'python')

#circuits
circuits_url = 'https://raw.githubusercontent.com/georgetown-analytics/Formula1/main/data/circuits.csv'
circuits_df = pd.read_csv(circuits_url, sep = ',', encoding = 'latin-1')

#races
races_url = 'https://raw.githubusercontent.com/georgetown-analytics/Formula1/main/data/races.csv'
races_df = pd.read_csv(races_url, sep = ',', engine = 'c')

#Drivers
drivers_url = 'https://raw.githubusercontent.com/georgetown-analytics/Formula1/main/data/drivers.csv'
drivers_df = pd.read_csv(drivers_url, sep = ',', encoding = 'latin-1')

#lap Times
lap_times_url = 'https://raw.githubusercontent.com/georgetown-analytics/Formula1/main/data/lap_times.csv'
lap_times_df = pd.read_csv(lap_times_url, sep = ',', engine = 'python')

#MasterData1
MasterData1 = pd.read_csv(filepath_or_buffer='C:/Users/Thomas Marzol/Documents/Georgetown/Certificate in Data Science/Formula1/data/MasterData1', sep=',', engine='python')

FileNotFoundError: [Errno 2] No such file or directory: 'C:/Users/Thomas Marzol/Documents/Georgetown/Certificate in Data Science/Formula1/data/MasterData1'

### Tasks
1. drop:
    1. resultID
    2. number
    3. points
    4. time
    5. fastestLapTime

In [3]:
#results_df = results_df.drop(['resultId','number','points','time','fastestLapTime'], axis=1, inplace=False)
results_df.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

## Adding Required Columns

### Tasks:
1. Add Race Outcome from status.csv
2. Add FamilyID from status.csv
3. Add circuitType from circuits.csv
4. Add isHistoric from circuits.csv
5. Add Driver Place of Origin

#### #1 and #2
Adding race outcome and familyID from status.csv

In [7]:
merged2_df = pd.merge(results_df,status_df,on='statusId')
#note - I did this with just an inner join because we know for sure that there are no nulls in statusID

In [8]:
merged2_df.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,...,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,status,familyStatus,Completion Status
0,1,18,1,1,22,1,1,1,1,10.0,...,1:34:50.616,5690616,39,2,1:27.452,218.300,1,Finished,4,1
1,2,18,2,2,3,5,2,2,2,8.0,...,+5.478,5696094,41,3,1:27.739,217.586,1,Finished,4,1
2,3,18,3,3,7,7,3,3,3,6.0,...,+8.163,5698779,41,5,1:28.090,216.719,1,Finished,4,1
3,4,18,4,4,5,11,4,4,4,5.0,...,+17.181,5707797,58,7,1:28.603,215.464,1,Finished,4,1
4,5,18,5,1,23,3,5,5,5,4.0,...,+18.014,5708630,43,1,1:27.418,218.385,1,Finished,4,1

In [9]:
#get rid of the leftovers on merged2
merged2_df = merged2_df.drop(columns=['status','statusId'],axis=1,inplace=False)

In [10]:
merged2_df

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,familyStatus,Completion Status
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,4,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,4,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,4,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,4,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25135,22852,942,8,6,7,18,\N,R,16,0.0,25,\N,\N,24,14,1:46.186,186.905,6,0
25136,23533,976,815,10,11,6,\N,R,15,0.0,39,\N,\N,37,8,1:45.588,204.670,6,0
25137,24221,1010,817,4,3,12,\N,R,19,0.0,28,\N,\N,18,19,1:29.848,212.478,1,0
25138,24764,1037,847,3,63,15,\N,R,19,0.0,9,\N,\N,5,18,1:51.754,225.624,1,0
25139,24883,1043,825,210,20,17,\N,R,18,0.0,47,\N,\N,45,18,1:19.273,222.930,3,0

#### #3 and #4
adding circuitType and isHistoric from circuits.csv

In [42]:
#step0 - confirming no nulls in raceID

resultId           0
raceId             0
driverId           0
constructorId      0
number             0
grid               0
position           0
positionText       0
positionOrder      0
points             0
laps               0
time               0
milliseconds       0
fastestLap         0
rank               0
fastestLapTime     0
fastestLapSpeed    0
statusId           0
dtype: int64

In [11]:
#step 1, prep a trimmed version of races_df for left merging into merge1_df
races_df = races_df.drop(['round','name','date','time','url'],axis=1, inplace=False)

In [12]:
races_df

      raceId  year  circuitId
0          1  2009          1
1          2  2009          2
2          3  2009         17
3          4  2009          3
4          5  2009          4
...      ...   ...        ...
1053    1069  2021         69
1054    1070  2021         32
1055    1071  2021         18
1056    1072  2021         77
1057    1073  2021         24

[1058 rows x 3 columns]

In [13]:
#step 2, bring in circuitID from races.csv INTO merged2_df (refined results.csv) to prep the join
merged3_df = pd.merge(merged2_df, races_df, on='raceId', how='left')

In [14]:
merged3_df.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,...,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,familyStatus,Completion Status,year,circuitId
0,1,18,1,1,22,1,1,1,1,10.0,...,1:34:50.616,5690616,39,2,1:27.452,218.300,4,1,2008,1
1,2,18,2,2,3,5,2,2,2,8.0,...,+5.478,5696094,41,3,1:27.739,217.586,4,1,2008,1
2,3,18,3,3,7,7,3,3,3,6.0,...,+8.163,5698779,41,5,1:28.090,216.719,4,1,2008,1
3,4,18,4,4,5,11,4,4,4,5.0,...,+17.181,5707797,58,7,1:28.603,215.464,4,1,2008,1
4,5,18,5,1,23,3,5,5,5,4.0,...,+18.014,5708630,43,1,1:27.418,218.385,4,1,2008,1

In [ ]:
#step 2, left join the relevant columns into merged3_df from circuits.csv using circuitID as the joining column

In [15]:
#dropping the fluff out of circuits ahead of merge
circuits_df = circuits_df.drop(columns=['circuitRef','name','location','lat','lng','url'],axis=1,inplace=False)

In [16]:
circuits_df.head()

,circuitId,country,alt,isHistoric,trackType,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,23,Austria,678,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,race
1,29,Australia,58,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,road
2,64,Morocco,19,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,street
3,58,UK,20,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,Australia,10,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,No

In [17]:
#merging in circuits to merged3_df on circuitID
merge4_df = pd.merge(merged3_df,circuits_df,on='circuitId',how='left')

In [18]:
merge4_df.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,...,trackType,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,1,18,1,1,22,1,1,1,1,10.0,...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,No
1,2,18,2,2,3,5,2,2,2,8.0,...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,No
2,3,18,3,3,7,7,3,3,3,6.0,...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,No
3,4,18,4,4,5,11,4,4,4,5.0,...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,No
4,5,18,5,1,23,3,5,5,5,4.0,...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,No

In [19]:
#doing a null check
merge4_df.isna().sum()

resultId                 0
raceId                   0
driverId                 0
constructorId            0
number                   0
grid                     0
position                 0
positionText             0
positionOrder            0
points                   0
laps                     0
time                     0
milliseconds             0
fastestLap               0
rank                     0
fastestLapTime           0
fastestLapSpeed          0
familyStatus             0
Completion Status        0
year                     0
circuitId                0
country                  0
alt                      0
isHistoric               0
trackType                0
Unnamed: 11          25140
Unnamed: 12          25140
Unnamed: 13          25140
Unnamed: 14          25140
Unnamed: 15          25140
Unnamed: 16          25140
Unnamed: 17          25140
Unnamed: 18          23281
Unnamed: 19          23281
dtype: int64

### #5, Adding in Driver Nationality

In [20]:
merge5_df = pd.merge(merge4_df,drivers_df[['driverId','nationality']],on='driverId',how='left')
#did it a different way here, merged just some select columns so I didn't need to do any drops

In [21]:
merge5_df.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,nationality
0,1,18,1,1,22,1,1,1,1,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,No,British
1,2,18,2,2,3,5,2,2,2,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,No,German
2,3,18,3,3,7,7,3,3,3,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,No,German
3,4,18,4,4,5,11,4,4,4,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,No,Spanish
4,5,18,5,1,23,3,5,5,5,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,No,Finnish

In [22]:
#here im going to drop our 3 big key's (raceID, driverID, constructorID) to finalize this before saving
#if we ever need these again we can look at merge5_df
final_df = merge5_df.drop(columns=['constructorId','driverId','raceId'],axis=1,inplace=False)

### Final Step for basic setup - save as a CSV

In [23]:
final_df.to_csv('MasterData1.csv',index=False)

# Data Wrangling / Fixing Nulls Work
## 1 - fixing milliseconds (there are a lot of nulls)

In [24]:
lap_times_df.head()
#plan - 
  #the goal here is to take all the laptimes (in milliseconds) and sum them for for each driver in each race
  #after that, we will deposit those final values into our MasterData1 csv...

#for each [race ID] in laptimesdf
    #for each driverID in laptimesdf
        #total time = total time + milliseconds
        #pass
summed_df = lap_times_df.groupby(['raceId','driverId']).agg({'milliseconds':'sum'})

In [25]:
summed_df.head()

                 milliseconds
raceId driverId
1      1              5658698
       2              5662869
       3              5661506
       4              5660663
       6              1560978

## A Question - can we use this function to get the min lap time for everyone and/or get the average lap time for everyone for every race?

In [23]:
average = lap_times_df.groupby(['raceId','driverId']).agg({'milliseconds':'mean'})
average.head()
#the answer is yes!

                 milliseconds
raceId driverId
1      1         97563.758621
       2         97635.672414
       3         97612.172414
       4         97597.637931
       6         91822.235294

In [26]:
#can we create a table of average total time for reach race?
average_race_time = lap_times_df.groupby(['raceId']).agg({'milliseconds':'mean'})

In [27]:
average_race_time.head()

         milliseconds
raceId
1        97427.745274
2       109763.157040
3       128685.079179
4        97834.824889
5        89878.926752

In [24]:
minimum = lap_times_df.groupby(['raceId','driverId']).agg({'milliseconds':'min'})

In [25]:
minimum.head()

                 milliseconds
raceId driverId
1      1                89020
       2                88283
       3                87706
       4                88712
       6                89923